<h1>Home</h1>
<div class="container" style="margin-top: 3em;">
  <ul class="list-group">
    <li class="list-group-item active">Tutores</li>
    <% @tutor.each do |tutor| %>
        <h3><%= tutor.name %> - <%= tutor.available? %></h3>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
    <% end %>
  </ul>
</div>
